# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
venv_linux/

# Environment variables
.env

# SQLite database
db.sqlite3

# Collected static files
staticfiles/

# OS files
.DS_Store
Thumbs.db